body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 90%;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    padding: 20px; /* Added padding for better spacing */
}
.rem{
    width: 100%;
    text-align: start;
}
.login .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login .content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.input {
    gap: 4px;
    border: none;
    padding: 5px 10px;
    width: 100%;
}

.input input:focus {
    outline: none;
    border: 1px solid var(--comment-color);
}

.or {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 8px;
}

.or .divider {
    width: 25%;
    height: 1px;
    background-color: #dfdfdf;
}

.anthorLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.anthorLogin .LoginItem {
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 5px;
    transition: 0.4s;
    width: 70%;
    height: 45px;
}

.anthorLogin .LoginItem:hover {
    background-color: #f4f4f4;
}
