:root{
    --main-color : rgb(21, 21, 21);
    --main-hover-color : rgb(30, 30, 30);
    /* --main-color : rgb(255, 140, 0); */
    /* --main-hover-color : rgb(193, 132, 27); */
    --sec-color : rgb(52, 99, 255);
    --comment-color : rgb(131, 131, 131);
    --bg-color : rgb(238, 244, 252);
    --white-color : white;
}



@font-face {
    font-family: 'Cairo';
    src: url('/assets/font/font.ttf');
} 

@font-face {
    font-family: 'perfect';
    src: url('/assets/font/perfect.ttf');
} 

