.cardShap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardShap .image {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35%;
}

.cardShap .image h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cardShap .image img {
    width: 100%;
    border-radius: 20px;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



